@import './../../../sass/variables.sass'

.select-wrapper
  &.select-opened
    .select__header
      border-radius: 4px 4px 0 0
      .select__arrow-icon
        transform: rotate(180deg)
    .select__ul
      display: block
  .select__header
    display: flex
    justify-content: space-between
    align-items: center
    background: $lightGrey
    border-radius: 4px
    padding: 10px
    box-sizing: border-box
    cursor: pointer
    p
      color: $grey
    .select__arrow-icon
      transform: rotate(0)
  .select__body
    position: relative
  .select__ul
    display: none
    position: absolute
    top: 100%
    left: 0
    width: 100%
    border-radius: 0 0 4px 4px
    background: $lightGrey
    overflow: hidden
    li
      width: 100%
      //background: $lightGrey
      z-index: 10
      padding: 10px
      box-sizing: border-box
      margin-bottom: 0 !important
      cursor: pointer
      &:hover
        background: $darkenGrey
      &:first-child
        border-top: 1px solid $grey
      &:not(:last-child)
        border-bottom: 1px solid $grey