@import './mixins.sass'
@import "variables.sass"

.App
  min-height: 100vh
  display: flex
.content
  width: 70%
  background: white

.content
  padding: 34px 43px
  width: 100%
  .content__header
    margin-bottom: 27px
    input
      outline: none
      width: 100%
      border: none
      background: transparent
    .cl-l1
      display: flex
      justify-content: space-between
      align-items: center
      margin-bottom: 10px
      input
        @include font(32px, $black, 'futura demi')
      .remove__check-list
        cursor: pointer
        display: flex
        align-items: center
        justify-content: center
        opacity: 0.5
        &:hover
          opacity: 1
    .cl-l2
      input
        @include font(16px, $grey, 'futura book')

.content__add-new-item
  margin-bottom: 35px

.cl__element-list
  ul
    list-style: none
    li
      display: flex
      align-items: center
      justify-content: space-between
      padding: 20px 0
      box-sizing: border-box
      @include font(16px, $black, 'futura book')
      border-bottom: 1px solid $grey
      &:hover
        .cl__element__trash-icon
          opacity: 1
      .input__cl__element__checkbox
        margin-right: 18px
        cursor: pointer
        height: 20px
        width: 20px
        &:checked + .input__cl__element__main
          text-decoration: line-through
      .input__cl__element__main
        width: 100%
        border: none
        background: transparent
        @include font(16px, $black, 'futura book')
        outline: none
      .cl__element__trash-icon
        opacity: 0
        cursor: pointer
        transition: 0.2s

.with__notification-block
  position: relative
  &:hover
    .notification-block
      opacity: 1
  .notification-block
    position: absolute
    top: 100%
    margin-top: 10px
    padding: 10px
    border-radius: 4px
    width: 100%
    opacity: 0
    pointer-events: none
    min-width: 140px
    right: 0%
    border: 1px solid $grey
    text-align: center