@import "./../../../sass/mixins"
@import './../../../sass/variables.sass'

.button__wrapper.disabled
  .button__content
    background: $grey
    pointer-events: none
.button__wrapper
  display: flex
  justify-content: center
  .button__content
    cursor: pointer
    padding: 16px 71px
    background: #72F2A5
    @include font(16px, white, 'futura demi')
    display: inline-block
