@import './../../../sass/mixins.sass'
@import './../../../sass/variables.sass'
.input-wrapper
  display: flex
  align-items: center
  padding: 10px
  background: white
  border-radius: 4px
  width: 100%
  box-sizing: border-box
  .icon
    margin-right: 10px
    display: flex
    align-items: center
    justify-content: center
  input
    outline: none
    border: none
    background: transparent
    @include font(16px, $black, 'futura book')
    width: 100%
  input::placeholder
    color: $grey
.input-wrapper.greyBg
  background: $lightGrey