@import '../../sass/variables'

.sidebar
  background: $darkenGrey
  width: 100%
  box-sizing: border-box
  max-width: 450px
  min-height: 100vh
  padding: 34px 43px

.sidebar__header
  display: flex
  justify-content: center
  align-items: center
  margin-bottom: 45px

.filter__check-lists:hover
  transform: scale(0.96)
.filter__check-lists
  transition: 0.2s
  background: white
  border-radius: 4px
  padding: 10px
  cursor: pointer
  margin-left: 23px
  display: flex
  align-items: center
  justify-content: center

.sidebar__body
  .sb__check-lists__catalog
    margin-bottom: 40px
  .check-lists__ul
    list-style: none
    li:hover
      border: #C7C7C7FF 1px solid
      padding: 1px 4px
      box-sizing: border-box
    li
      border-radius: 4px
      padding: 2px 5px
    .item__wrapper
      display: flex
      align-items: center
      justify-content: space-between
      padding: 10px 0
      cursor: pointer
      .check-list__name
        width: 100%
        padding: 0 17px

.sb__add-cl:hover
  .sb__add-cl__body
    border: #C7C7C7FF 1px solid
    padding: 9px
.sb__add-cl
  cursor: pointer
  .sb__add-cl__wrapper
    display: flex
    justify-content: center
  .sb__add-cl__body
    padding: 10px
    border-radius: 4px
    box-sizing: border-box
    display: flex
    align-items: center
    .icon
      height: 25px
      margin-right: 23px
      width: 25px
      mask-position: center
      mask-size: cover
      background: $black
      -webkit-mask-image: url('./../../assets/imgs/icons/technical/plus.svg')