.content__add-new__check-list
  position: absolute
  top: 0
  left: 0
  width: 100vw
  height: 100vh
  .wrapper
    position: relative
    height: 100%
    z-index: 1
    display: flex
    align-items: center
    justify-content: center
  .modal__black-bg
    position: absolute
    z-index: -1
    height: 100%
    width: 100%
    background: rgba(0,0,0, 0.3)
  .modal__body
    background: white
    padding: 43px
    box-sizing: border-box
    border-radius: 4px
    width: 100%
    max-width: 880px
    .close-modal__icon
      cursor: pointer
    .mb__header
      margin-bottom: 30px
      display: flex
      justify-content: space-between
      align-items: center
    .mb__content
      .new-check-list__properties
        margin-bottom: 30px
        ul
          list-style: none
          li:not(:last-child)
            margin-bottom: 24px
      .new-check-list__first-el
        h3
          margin-bottom: 15px
    .mb__content
      margin-bottom: 45px
